<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
 
  <title>Word2Demo</title>
</head>
<body>
  <div class="content">

    {% block body %}
    {% endblock %}

  </div>

  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='script/script.js') }}"></script>

</body>
</html>